body {
    margin: 0;
    font-family: Arial;
    background-color: whitesmoke;
}
* {
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
/* Desktops */
@media (min-width: 1025px) {
    .card {
        width: 30%;
    }
}

/* Tablet */
@media (max-width: 1024px) {
    .Apartments {
        justify-content: center;
    }
    .card {
        width: 45%;
        max-width: 500px;
    }
}

/* Phone */
@media (max-width: 600px) {
    header {
        flex-direction: column;
        text-align: center;
    }
    .card {
        width: 90%;
        max-width: 400px;
    }
    nav a {
        display: block;
        margin: 10px 0;
    }
    .Apartments {
        flex-direction: column;
        align-items: center;
    }
}


/* Navbar */
.logo {
    font-size: 28px;
    display: flex;
    flex-direction: column;
    font-weight: bold;
    padding-top: 20px 20px;
    margin: 0px;
    padding: 0px;
}

.PRIZZY {
    color: goldenrod;
    font-family: 'Dancing';
    font-size: xx-large;
    line-height: 1;
    display: block;
    padding: 5px;
    margin: 0px;
}

.GOLDENBITE {
    color: white;
    padding-bottom: 10px;
    font-size: xx-large;
    display: block;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 5px;
    line-height: 1;
    margin-top: -10px;
}
nav {
 display: flex;
 justify-content: baseline;
 padding: 0px 30px;
 background: rgb(43, 2, 2);
 color: white;
 position: absolute;
 top: 0;
 width: 100%;
 z-index: 1000;
 overflow-x: hidden;

}
/* Hamburger */
.menu-toggle {
    font-size: 30px;
    cursor: pointer;
}

/* Menu Overlay */
.menu-icon {
    width: 30px;
    height: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    padding: 5px;
    position: fixed;
    top: 5px;
    right: 20px;
    background-color: goldenrod;
    z-index: 1001;
    border-radius: 5px;
    transition: 0.4s ease;
    box-sizing: border-box;
   
}

/* Show Menu */
.menu-icon span {
    display: block;
    height: 4px;
    width: 100%;
    background: #333;
    border-radius: 4px;
    transition: all 0.3s ease-in-out;
    transform-origin: center;
     border: 5px;
    
}

.menu-icon:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 20px rgba(224, 210, 7, 0.911);
}

/* Menu Links */
.menu.nav {
    display: none;
    background-color: #fff;
    border-top: 1px solid #ddd;
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    z-index: 100;
}

.js-main-nav {
    position: fixed;
    top: 0;
    right: -100%;
    width: auto;
    height: 100vh;
    background-color: #ffffff;
    box-shadow: -10px 0 20px rgba(218, 165, 32, 0.753);
    z-index: 999;
    padding: 80px 20px;
    box-sizing: border-box;
    display: block;
    border-radius: 10px;
    flex-direction: column;
    transition: right 1s ease;
    overflow: hidden;
}
.js-main-nav.is-open {
    right: 0;
}
.js-main-nav ul {
    list-style: none;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    gap: 25px;
    align-items: center;
}
.js-main-nav li {
    margin-bottom: 30px;
}
.js-main-nav li a {
    text-decoration: none;
    font-size: 1.5rem;
    color: #333;
    font-weight: 500;
    white-space: nowrap;
}
.js-main-nav a {
    text-decoration: none;
    color: #333;
    font-size: 1.2rem;
    font-family: sans-serif;
    font-weight: 500;
}
/* Close Button */
.close-btn {
    position: absolute;
    top: 20px;
    right: 25px;
    font-size: 30px;
    cursor: pointer;
    color: white;
}

.main-nav ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 5px
}
.main-nav ul li a {
    display: block;
    padding: 1rem;
    text-decoration: none;
    color: #333;
    border-bottom: 1px solid #eee;
}

.main-nav.is-open {
    display: block;
}

.menu-icon.is-open {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1000;
    background: #333;
}
.menu-icon.is-open span {
    background: #fff;
}
.menu-icon.is-open span:nth-child(1) {
    transform: translateY(10px) rotate(45deg);
}
.menu-icon.is-open span:nth-child(2) {
    opacity: 0;
    
}
.menu-icon.is-open span:nth-child(3) {
    transform: translateY(-6px) rotate(-45deg);
}
.HOME {
    color: goldenrod;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: xx-large;
}

/* Section */
.Section {
    padding: 100px 20px;
    text-align: center;
}

/* Title */
.Section h2 {
     font-size: 40px;
     margin-bottom: 20px;
     color: #441d03;
}

/* Apartments Layout */
.Apartments {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

/* Card Design */
.card {
    max-width: 380px;
    width: 100%;
    height: auto;
    background: white;
    border-radius: 10px;
    border: 2px solid #ddd;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0,0,0,0,1);
    text-align: left;
    transition: 0.3s;
}
.cardd {
    width: 380px;
    height: 580px;
    background: white;
    border-radius: 10px;
    border: 2px solid #ddd;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0,0,0,0,1);
    text-align: left;
    transition: 0.3s;
}

/* Hover effect */
.card:hover {
    transform: translateY(-5px);
}

/* Image */
.card img {
    max-width: 380px;
    width: 100%;
    height: 350px;
    object-fit: cover;
}

/* Text inside card */
.card h3 {
    color:#975f3a;
    padding: 10px;
    margin: 0;
    text-align: left;
}
.price {
    font-weight: bold;
    padding: 0 5px;
}
.card p {
    padding: 0 10px;
    color: #b47c02;
    text-align: left;
    font-size: large;
    font-weight: bold;
    line-height: 0;
}
.card hr {
    border: none;
    border-top: 2px solid;
    margin: 10px;
}

/* Button */
.card a {
    display: block;
    margin: 10px;
    padding: 10px;
    text-align: left;
    background: none;
    color: #441d03;
    text-decoration: none;
    width: 30%;
    border-radius: 5px;
    border: 2px solid #441d03;
    height: 7%;
}
.card a:hover {
    background: #975f3a;
}

.hero {
    background: linear-gradient(rgba(0, 0, 0, 0.4),
    rgba(0, 0, 0, 0.4)), url(background.png)
    no-repeat center/cover;
    height: 250px;
    color: rgb(245, 240, 240);
    text-align: left;
    font-size: xx-large;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.7);
    padding-top: 10px;
    padding-bottom: 30px;
    padding: 20px 80px;
}

.chat {
    font-size: large;
    padding-bottom: 30px;
    display: block;
    line-height: 0;
}

.floating-cta {
    position: fixed;
    bottom: 1px;
    left: 30px;
    padding: 40px 50px;
    font-size: large;
    display: flex;
    flex-direction: column;
    gap: 12px;
    z-index: 1000;

    /* Initial hidden state */
    transform: translateY(150px);
    opacity: 0;
    transition: all 0.4s ease-in-out;
}

.floating-cta.visible {
    transform: translateY(0);
    opacity: 1;
}
.tit {
    color: #975f3a;
    padding: 0 10px;
    text-align: left;
    font-size: large;
    font-weight: bold;
}
  


.btn {
    text-decoration: none;
    padding: 12px 24px;
    border-radius: 50px;
    font-weight: bold;
    text-align: center;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
}

.whatsapp { background-color: #25D366; color: white; }
.booking { background-color: var(--accent-brown); color: rgb(30, 23, 65); }


.product-image {
    width: 100%;
    cursor: pointer;
    transition: 0.3s;
}

.product-image:hover {
    transform: scale(1.02);
}

.lightbox {
    display: none;
    position: fixed;
    z-index: 9999;
    inset:0;
    background: rgba(0, 0, 0, 0.9);
    justify-content: center;
    align-items: center;
}

#lightboxImage {
    max-width: 90%;
    max-height: 90%;
    border-radius: 10px;
}

.close {
position:absolute;
top: 20px;
right: 30px;
color: white;
font-size: 45px;
cursor: pointer;
}